<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>烤肉</string>
		<key>title</key>
		<string>品味中西餐自助烤肉</string>
		<key>desc</key>
		<string>[栓榆树]单人自助烤肉，免预约</string>
		<key>price</key>
		<string>98</string>
		<key>cheap</key>
		<string>20</string>
		<key>sell</key>
		<string>32</string>
		<key>distance</key>
		<string>552</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>烤肉</string>
		<key>title</key>
		<string>品味中西餐自助烤肉1</string>
		<key>desc</key>
		<string>[栓榆树]单人自助烤肉，免预约1</string>
		<key>price</key>
		<string>981</string>
		<key>cheap</key>
		<string>20</string>
		<key>sell</key>
		<string>32</string>
		<key>distance</key>
		<string>552</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>烤肉</string>
		<key>title</key>
		<string>品味中西餐自助烤肉2</string>
		<key>desc</key>
		<string>[栓榆树]单人自助烤肉，免预约2</string>
		<key>price</key>
		<string>98</string>
		<key>cheap</key>
		<string>30</string>
		<key>sell</key>
		<string>32</string>
		<key>distance</key>
		<string>1552</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>烤肉</string>
		<key>title</key>
		<string>品味中西餐自助烤肉3</string>
		<key>desc</key>
		<string>[栓榆树]单人自助烤肉，免预约3</string>
		<key>price</key>
		<string>98</string>
		<key>cheap</key>
		<string>20</string>
		<key>sell</key>
		<string>32</string>
		<key>distance</key>
		<string>552</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>烤肉</string>
		<key>title</key>
		<string>品味中西餐自助烤肉4</string>
		<key>desc</key>
		<string>[栓榆树]单人自助烤肉，免预约</string>
		<key>price</key>
		<string>98</string>
		<key>cheap</key>
		<string>20</string>
		<key>sell</key>
		<string>32</string>
		<key>distance</key>
		<string>552</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>烤肉</string>
		<key>title</key>
		<string>品味中西餐自助烤肉5</string>
		<key>desc</key>
		<string>[栓榆树]单人自助烤肉，免预约</string>
		<key>price</key>
		<string>98</string>
		<key>cheap</key>
		<string>20</string>
		<key>sell</key>
		<string>32</string>
		<key>distance</key>
		<string>552</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>烤肉</string>
		<key>title</key>
		<string>品味中西餐自助烤肉6</string>
		<key>desc</key>
		<string>[栓榆树]单人自助烤肉，免预约</string>
		<key>price</key>
		<string>98</string>
		<key>cheap</key>
		<string>20</string>
		<key>sell</key>
		<string>32</string>
		<key>distance</key>
		<string>552</string>
	</dict>
</array>
</plist>
